@charset "utf-8";
/* CSS Document */
body {
	padding: 0px;
	margin:0px;
	background: url(images/f.png) repeat center top /cover;
	/*background-repeat:repeat; 
	background-size:100%;*/
}
button {width: 100%;height: 100%;}
form {height: 100%;width: 100%;}
.container{width: 85%;
margin-left: 7em; margin-right: 10em;}
/*shapka */
#shapka{
position: absolute;
height: 7em;
left: 0px;
top: 0px;
}
#shapka_logo{
position: absolute;
width: 10em;
height: 7em;
left: 0em;
top: 0.1em;
background-image: url(images/logo.png);
background-repeat: no-repeat; 
background-size: 95%;
}

#shapka_nadpis{
position: absolute;
width: 38em;
height: 30em;
left: 0em;
top:2em;
background-image: url(images/computersystem.png);
background-repeat: no-repeat; 
background-size: 100%;
}
#shapka_kontakt {
position: absolute;
width: 14em;
height: 6.5em;
right: 5em;
top: 0.5em;
}
#shapka_kontakt_button{
background: url(images/kontaktpc.png);
background-repeat: no-repeat; 
background-size: 100%;border: 0px;}
/*whatsap button */
.shapka_whatssupdiv{position: absolute;
width: 4.5em;
height: 4.6em;
right: 0em;
top: 1.3em;
}
.shapka_whatssupdiv button{
border: 0px #000000;
background: url(images/whatssup.png);
border-radius: 1em;
background-repeat: no-repeat; 
background-size:100%;}
.shapka_whatssupdiv button:hover{width: 5.7em;
height: 5.7em;
border: 3em #064552;}
/*end whatsap button */
/*end shapka */
/*main*/
#main{
position: absolute;
top: 7.1em;
height: 60em;
background: #FFFFFF;
}
.main_sylka {
box-sizing: border-box;
position: absolute;
width: 100%;
height: 6.5em;
left: 0px; top: 0px;
border: 9px solid #000000;
}
.main_sylka div {position: relative; 
	display:inline-block;
	top:1em; 
	margin-left: 5%;
	height:3.5em; width: 14em;
}
.main_sylka button{background: 0%;
	border: 0px;width: 100%;height:100%;;
}
	.main_sylka img {
		background-repeat: no-repeat;
		width: 100%;height:100%;
		background-size: 100%;}



/*podval*/
#podval{
position:absolute;
height: 10em;
top: 67.2em;
background: rgba(37, 35, 35, 0.73);
}
#podval_logo{
position: absolute;
width: 12.65em;
height: 9em;
left: 1em;
top: 0.5em;
background: url(images/logo.png);	
background-repeat: no-repeat; 
background-size: 100%;
}
#podval_namecompany{position: absolute;
width: 33em;
height: 6.5em;
left: 32.5em;
top: 2.5em;
background: url(images/RomasInd.png);
background-repeat: no-repeat; 
background-size: 100%;
}
#podval_katalog{
position: absolute;
width: 8em;
height: 2.5em;
right: 2em;
top: 0.6em;
background: url(images/katalog.png);
background-repeat: no-repeat; 
background-size: 100%;
}
#podval_sale{
position: absolute;
width: 8em;
height: 2.5em;
right: 2em;
top: 3em;
background: url(images/sale.png);
background-repeat: no-repeat; 
background-size: 100%;
}
#podval_dostavka{
position: absolute;
width: 8em;
height: 2em;
right: 2em;
top: 5.4em;
background: url(images/dostavka.png);
background-repeat: no-repeat; 
background-size: 100%;
}
#podval_oplata{
position: absolute;
width: 8em;
height: 2.5em;
right: 2em;
top: 6.7em;
background: url(images/oplata.png);
background-repeat: no-repeat; 
background-size: 100%;
}


/*media*/
@media (orientation: portrait) {


}
@media (max-width:1816px) {
	.main_sylka div {
	margin-left: 3.5%;
}
}
@media (min-width:1700px) {
#shapka_nadpis{
left: 25em;
}}
@media (max-width:1699px) {
#shapka_nadpis{
left: 20em;
}
.main_sylka div {
	margin-left: 2.5%;
	height:3em; width: 12em;
}}
@media (max-width:1521px) {
#shapka_nadpis{
left: 17em;
}
}
@media (max-width:1430px) {
#shapka_nadpis{
left: 17em;
width:28em;
}
#podval_namecompany{position: absolute;
left:32em;}
@media (max-width:1350px) {
.main_sylka div {
	margin-left: 2.5%;
	height:2.7em; width: 11em;
}
#podval_namecompany{position: absolute;
left:24em;
width:24em;}}
@media (max-width:1230px) {
#shapka_nadpis{
position: absolute;
left: 17em;
	width:20em;
}.main_sylka div {
	margin-left: 2.5%;
	height:2.3em; width: 9em;
}
#podval_namecompany{position: absolute;
left:24em;
width:16em;}
#shapka_kontakt{width: 10em;}
}.gff {
}
.vc {
}
