@charset "utf-8";
/* CSS Document */
body {
	padding: 0px;
	margin:0px;
	background: url(images/f.png) repeat center top /cover;
}
button, a , img {width: 100%;height: 100%;}
.container{width: 85%;
margin-left: 7.5%; margin-right: 7.5%;}
.mainbody div{display: flex;}
/*shapka */
#shapka{
position: relative;
height: 7em;
left: 0px;
top: 0px;
}
#shapka_logo{
position: absolute;
width: 11%;
height:100%;
left: 0em;

}

#shapka_nadpis{
position: absolute;
width: 40%;
height: 60%;
left: 25%;
top:2em;
background-image: url(images/computersystem.png);
background-repeat: no-repeat; 
background-size: 100%;
}
#shapka_kontakt {
position: absolute;
width: 20%;
height: 90%;
right: 7%;
top: 0.5em;
}
/*whatsap button */
.shapka_whatssupdiv{position: absolute;
width: 5%;
height: 80%;
right: 0px;
top: 12%;
}
.shapka_whatssupdiv:hover{width: 5.2%;
height: 84%;
border: 3em #064552;}
/*end whatsap button */
/*end shapka */
/*main*/
#main{
position: relative;
height: 60em;
background: #FFFFFF;
	margin-top: 0.2em;
}
.main_sylka {
box-sizing: border-box;
position: absolute;
width: 100%;
height: 6.5em;
left: 0px; top: 0px;
border: 9px solid #000000;
}
.main_sylka div {position: relative; 
	display:inline-block;
	top:20%; margin-left: 2%;
	height:60%; width: 17.5%;}




/*podval*/
#podval{
position:relative;
height: 10em;
	margin-top: 0.2em;
background: rgba(37, 35, 35, 0.73);
}
#podval_logo{
position: absolute;
width: 12.65em;
height: 9em;
left: 1em;
top: 0.5em;
background: url(images/logo.png);	
background-repeat: no-repeat; 
background-size: 100%;
}
#podval_namecompany{position: absolute;display: none;
width: 33em;
height: 6.5em;
left: 32.5em;
top: 2.5em;
background: url(images/RomasInd.png);
background-repeat: no-repeat; 
background-size: 100%;
}
#podval_katalog{
position: absolute;
width: 8em;
height: 2.5em;
right: 2em;
top: 0.6em;
background: url(images/katalog.png);
background-repeat: no-repeat; 
background-size: 100%;
}
#podval_sale{
position: absolute;
width: 8em;
height: 2.5em;
right: 2em;
top: 3em;
background: url(images/sale.png);
background-repeat: no-repeat; 
background-size: 100%;
}
#podval_dostavka{
position: absolute;
width: 8em;
height: 2em;
right: 2em;
top: 5.4em;
background: url(images/dostavka.png);
background-repeat: no-repeat; 
background-size: 100%;
}
#podval_oplata{
position: absolute;
width: 8em;
height: 2.5em;
right: 2em;
top: 6.7em;
background: url(images/oplata.png);
background-repeat: no-repeat; 
background-size: 100%;
}


/*media*/
/*@media (orientation: portrait) {


}
@media (max-width:1816px) {
	.main_sylka div {
	margin-left: 3.5%;
}
}
@media (min-width:1700px) {
#shapka_nadpis{
left: 25em;
}}
@media (max-width:1699px) {
#shapka_nadpis{
left: 20em;
}
.main_sylka div {
	margin-left: 2.5%;
	height:3em; width: 12em;
}}
@media (max-width:1521px) {
#shapka_nadpis{
left: 17em;
}
}
@media (max-width:1430px) {
#shapka_nadpis{
left: 17em;
width:28em;
}
#podval_namecompany{position: absolute;
left:32em;}
@media (max-width:1350px) {
.main_sylka div {
	margin-left: 2.5%;
	height:2.7em; width: 11em;
}
#podval_namecompany{position: absolute;
left:24em;
width:24em;}}
@media (max-width:1230px) {
#shapka_nadpis{
position: absolute;
left: 17em;
	width:20em;
}.main_sylka div {
	margin-left: 2.5%;
	height:2.3em; width: 9em;
}
#podval_namecompany{position: absolute;
left:24em;
width:16em;}
#shapka_kontakt{width: 10em;}
}.gff {
}
.vc {
}
