@charset "utf-8";
/* CSS Document */
body {padding: 0;margin:0;
    	background: url(images/f.png) repeat center top /cover;
		/*background-repeat:repeat; 
		background-size:100%;*/
}
button {width: 100%;height: 100%;}
form {height: 100%;width: 100%;}
.container{width: 85%;
margin-left: 7em; margin-right: 10em;}
/*shapka */
#shapka{
position: absolute;
height: 7em;
left: 0px;
top: 0px;
}
#shapka_logo{
position: absolute;
width: 10em;
height: 8em;
left: 0em;
top: 0.1em;
background-image: url(images/logo.png);
background-repeat: no-repeat; 
background-size: 95%;
}

#shapka_nadpis{
position: absolute;
width: 38em;
height: 5em;
left: 30em;
top:2em;
background-image: url(images/computersystem.png);
background-repeat: no-repeat; 
background-size: 100%;
}
#shapka_kontakt {
position: absolute;
width: 14em;
height: 6.5em;
right: 5em;
top: 0.5em;
}
#shapka_kontakt_button{
background: url(images/kontaktpc.png);
background-repeat: no-repeat; 
background-size: 100%;border: 0px;}
/*whatsap button */
#shapka_whatssupdiv{position: absolute;
width: 4.5em;
height: 5.3em;
right: 0em;
top: 1.3em;
}
#shapka_whatssapbutton{
border: 0px #000000;
background: url(images/whatssup.png);
border-radius: 1em;
background-repeat: no-repeat; 
background-size:100%;}
#shapka_whatssapbutton:hover{width: 5.7em;
height: 5.7em;
border: 3em #064552;}
/*end whatsap button */
/*end shapka */
/*main*/
#main{
position: absolute;
min-width:500px;
top: 7.1em;
height: 60em;
left: 7em;
right: 8em;
background: #FFFFFF;
}







/*podval*/
#podval{
position:absolute;
width: 100%;
height: 10em;
left: 0px;
top: 67.2em;
background: linear-gradient(90deg, rgba(37, 35, 35, 0.0292) 0%, rgba(37, 35, 35, 0.7008) 13.54%, rgba(37, 35, 35, 0.7008) 86.46%, rgba(37, 35, 35, 0.0292) 100%);
}
#podval_logo{
position: absolute;
width: 12.65em;
height: 9em;
left: 8.5em;
top: 0.5em;
background: url(images/logo.png);	
background-repeat: no-repeat; 
background-size: 100%;
}
#podval_namecompany{position: absolute;
width: 33em;
height: 6.5em;
left: 32.5em;
top: 2.5em;
background: url(images/RomasInd.png);
background-repeat: no-repeat; 
background-size: 100%;
}
#podval_katalog{
position: absolute;
width: 8em;
height: 2.5em;
right: 10em;
top: 0.6em;
background: url(images/katalog.png);
background-repeat: no-repeat; 
background-size: 100%;
}
#podval_sale{
position: absolute;
width: 8em;
height: 2.5em;
right: 10em;
top: 3em;
background: url(images/sale.png);
background-repeat: no-repeat; 
background-size: 100%;
}
#podval_dostavka{
position: absolute;
width: 8em;
height: 2em;
right: 10em;
top: 5.4em;
background: url(images/dostavka.png);
background-repeat: no-repeat; 
background-size: 100%;
}
#podval_oplata{
position: absolute;
width: 8em;
height: 2.5em;
right: 10em;
top: 6.7em;
background: url(images/oplata.png);
background-repeat: no-repeat; 
background-size: 100%;
}


/*media*/
@media (orientation: portrait) {


}
@media (min-width:1700px) {
#shapka_nadpis{
position: absolute;
left: 40em;
}}
@media (max-width:1699px) {
#shapka_nadpis{
position: absolute;
left: 26em;
}}
@media (max-width:1521px) {
#shapka_nadpis{
position: absolute;
left: 22.5em;
}}
@media (max-width:1430px) {
#shapka_nadpis{
position: absolute;
left: 19em;
}
#podval_namecompany{position: absolute;
left:32em;}
@media (max-width:1350px) {
#shapka_nadpis{
position: absolute;
left: 17em;
	width:28em;
}
#podval_namecompany{position: absolute;
left:24em;
width:24em;}}
@media (max-width:1156px) {
#shapka_nadpis{
position: absolute;
left: 17em;
	width:20em;
}
#podval_namecompany{position: absolute;
left:24em;
width:16em;}
#shapka_kontakt{width: 10em;}
}